 <% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        About us
      </h1>
    </div>
  </div>
</section>
<% end %>

 
      <div class="section-heading has-text-centered pv5">
        <h3 class="title is-2 has">About the Laptop Store</h3>
        <span class="elementor-divider-separator"></span>
        <p class="subtitle is-6 ">Here at laptopstorek we are passionate about what we do. We help many customers to sell their laptops daily and have strict procedures in place to securely in their orders, If you are looking for someone to sell your laptop too then contact one of the team today.  </p>
      </div>
      <br>

                <div class="columns is-centered pv5 ">
                    <div class="column is-5">
                        <figure class="image is-4by3 ">
                            <img src="https://picsum.photos/800/600/?random" alt="Description">
                        </figure>
                    </div>
                    <div class="column is-5 is-offset-1">
                        <h1 class="title is-3">
                            We are passionte for laptop
                        </h1>
                        <h2 class="subtitle is-6">
                            We can help you choose the right Laptop just by taking a few search on our website.
                        </h2>
                        <br>
                        
                    </div>
         
     </div>