<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
       Contact us
      </h1>
    </div>
  </div>
</section>
<% end %>


 
  <!-- Contact -->
  <section class="section " id="contact">

 
    <div class="container contactb has-text-centered ">
      <div class="section-heading has-text-centered pv5 contacttop ">
        <h3 class="title is-2 has ">Contact</h3>
        <h4 class="subtitle is-5">Get in touch</h4>
      </div>
      <br>

      <div class="columns">
        <div class="column is-6 is-offset-3">
          <div class="box">
           
            	<h1>Thank you for your message </h1>
				<p>I'll get back to you soon.</p>
                      
           </div>
        </div>
    </div>
      

    <div class="container ">
      <div class="section-heading has-text-centered ">
      
        <h4 class="subtitle is-5">Find us</h4>
       <div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.694796991187!2d-6.245255548221163!3d53.34871937988131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e8cd86e97e7%3A0x6d51b774ee7fa935!2sNational+College+of+Ireland!5e0!3m2!1sen!2sie!4v1543323000867" width="1000" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
      
    </div>
  </section>