 <% content_for :header do %>


<% end %>

    <section class="hero is-info is-medium is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">New Post</h1>
            </div>
        </div>
    </section>

<%= render 'form' %>


