// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.searchl{
	border: 1px solid #eee;
	background: #a7b9d6;
}

.lua{
	float:left;
}